body {
  margin: 0;
  background: #111;
  font-family: Arial, sans-serif;
  color: white;
  font-family: "Poppins", sans-serif;
}


/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 20px;
  background: #111;
  border-bottom: 1px solid #333;
}

.nav-logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.nav-title {
  
  
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
}


/* Upload Section */
.upload-container {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
}

.dropzone {
  border: 2px dashed #555;
  padding: 40px;
  border-radius: 10px;
  background: #222;
  transition: 0.2s;
}

.dropzone.active {
  border-color: #4caf50;
}

.dropzone span {
  color: #aaa;
  display: block;
  margin: 10px 0;
}

.browse-btn {
  background: #007bff;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  color: white;
}
button, .browse-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}


/* Selected files */
.file-list {
  text-align: left;
  margin-top: 20px;
}

.file-list ul {
  padding-left: 20px;
}

/* Button */
.analyze-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #4caf50;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.analyze-btn:hover {
  background: #45a049;
}

/* Results */
.pairs-container {
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
}

.pair-card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  border-left: 4px solid #4caf50;
}

.pair-score {
  font-size: 22px;
  color: #4caf50;
  margin: 5px 0;
}

.pair-explanation {
  color: #aaa;
}
